body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    border: 1px solid black;
    display: block;
}
table{
    border: 1px solid black;
}
p{
    text-align: justify;
    padding: 10px;

}
.SoloLearn{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.Fondo{
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 1300px;
    height: 40px;
    min-width: 1300px;
}
.alerta{
    text-align: center;
}
iframe{
    display: block;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.n1{
    width: 400px;
    height: 400px;
    background-color: black;
    float: left;
    margin-right: 10px;
}
.animacion1{
    animation-name: prueba1;
    animation-duration: 5s;
    width: 50px;
    height: 50px;
    background-color: red;
    animation-iteration-count: infinite;
}
@keyframes prueba1 {
    25% {background-color: hsl(90, 100%, 50%); transform: translate(350px, 350px);}
    50% {background-color: hsl(180, 100%, 50%); transform: translate(350px, 0px);}
    75% {background-color: hsl(270, 100%, 50%); transform: translate(0px, 350px);}
    100% {background-color: hsl(360, 100%, 50%); transform: translate(0px, 0px);}
}
.n2{
    width: 400px;
    height: 400px;
    background-color: black;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.animacion2{
    animation-name: prueba2;
    animation-duration: 8s;
    width: 50px;
    height: 50px;
    background-color: red;
    animation-iteration-count: infinite;
}
@keyframes prueba2 {
    6.25% {background-color: hsl(22.5, 100%, 50%); transform: translate(350px, 0px);}
    12.5% {background-color: hsl(45, 100%, 50%); transform: translate(0px, 50px);}
    18.75% {background-color: hsl(67.5, 100%, 50%); transform: translate(350px, 50px);}
    25% {background-color: hsl(90, 100%, 50%); transform: translate(0px, 100px);}
    31.25% {background-color: hsl(112.5, 100%, 50%); transform: translate(350px, 100px);}
    37.5% {background-color: hsl(135, 100%, 50%); transform: translate(0px, 150px);}
    43.75% {background-color: hsl(157.5, 100%, 50%); transform: translate(350px, 150px);}
    50% {background-color: hsl(180, 100%, 50%); transform: translate(0px, 200px);}
    56.25% {background-color: hsl(202.5, 100%, 50%); transform: translate(350px, 200px);}
    62.5% {background-color: hsl(225, 100%, 50%); transform: translate(0px, 250px);}
    68.75% {background-color: hsl(247.5, 100%, 50%); transform: translate(350px, 250px);}
    75% {background-color: hsl(270, 100%, 50%); transform: translate(0px, 300px);}
    81.25% {background-color: hsl(292.5, 100%, 50%); transform: translate(350px, 300px);}
    87.5% {background-color: hsl(315, 100%, 50%); transform: translate(0px, 350px);}
    93.75% {background-color: hsl(337.5, 100%, 50%); transform: translate(350px, 350px);}
    100% {background-color: hsl(360, 100%, 50%); transform: translate(0px, 0px);}
}
.n3{
    width: 400px;
    height: 400px;
    background-color: black;
    float: left;
    margin-left: 10px;
}
.animacion3{
    animation-name: prueba3;
    animation-duration: 3s;
    width: 50px;
    height: 50px;
    background-color: hsl(0, 100%, 50%);
    animation-iteration-count: infinite;
}
@keyframes prueba3 {
    25% {background-color: hsl(90, 100%, 50%); border-radius: 100%; transform: translate(350px, 0px);}
    50% {background-color: hsl(180, 100%, 50%); border-radius: 0%; transform: translate(350px, 350px);}
    75% {background-color: hsl(270, 100%, 50%); border-radius: 100%; transform: translate(0px, 350px);}
    100% {background-color: hsl(360, 100%, 50%); border-radius: 0%; transform: translate(0px, 0px);}
}
.container{
    width: 1240px;
    margin: auto;
    overflow: hidden;
}